

<div id="container">

    <div class="imagenfondo">
        <!-- SECCIÓN ASIGNATURAS Y NOTA -->
        <div class="espaciosec">
<div id="titulolista">Listado de Alumnos
<div id="cajaDetalles">
  <table class="table table-hover">
    <thead>
      <tr class="asignaturas">
        <th id="stat">Id</th>
        <th id="stat">Nombre</th>
        <th id="stat">Apellidos</th>
        <th id="stat">DNI</th>
        <th id="stat">direccion</th>

        <th id="stat">usuario</th>
        <th id="stat">teléono</th>
        <th id="stat">activo</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detallesUsuarios of listaUsuarios">
            <td class="datos">{{ detallesUsuarios.id }}</td>
          <td class="datos">{{ detallesUsuarios.nombre }}</td>
          <td class="datos">{{ detallesUsuarios.apellidos }}</td>
          <td class="datos">{{ detallesUsuarios.dni }}</td>
          <td class="datos">{{ detallesUsuarios.direccion }}</td>

          <td class="datos">{{ detallesUsuarios.usuario }}</td>
          <td class="datos">{{ detallesUsuarios.telefono }}</td>
          <td class="datos">{{ detallesUsuarios.activo }}</td>

          <!-- Resto de las columnas de datos -->
        </tr>
      </tbody>
      
  </table>
</div>
</div>

</div>


