#caja{background-color:yellow;
height: 20em;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 10em;}
/* MessagesComponent's private CSS styles */
h2 {
    color: #A80000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .clear {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  .clear:hover {
    color: white;
    background-color: #42545C;
  }