<div *ngIf="usuario">
  <div><span>ID: </span>{{usuario.id}}</div>
  <div><span>Nombre: </span>{{usuario.nombre}}</div>
  <div id="detalles">
      <label for="usuario-id">ID de usuario: </label>
      <input id="usuario-id" [(ngModel)]="usuario.id" placeholder="ID">
      <label for="usuario-nombre">Nombre: </label>

      <input id="usuario-nombre" [(ngModel)]="usuario.nombre" placeholder="Nombre">
      <label for="usuario-nombre">Apellidos: </label>

      <input id="usuario-nombre" [(ngModel)]="usuario.dni" placeholder="Nombre">
      <label for="usuario-nombre">DNI: </label>

      <input id="usuario-nombre" [(ngModel)]="usuario.usuario" placeholder="Nombre">
      <label for="usuario-nombre">Usuario: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.password" placeholder="Nombre">
      <label for="usuario-nombre">Contraseña: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.foto" placeholder="Nombre">
      <label for="usuario-nombre">Foto: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.direccion" placeholder="Nombre">
      <label for="usuario-nombre">Direccion: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.telefono" placeholder="Nombre">
      <label for="usuario-nombre">Telefono: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.tipo_usuario" placeholder="Nombre">
      <label for="usuario-nombre">Tipo Usuario: </label>
      <input id="usuario-nombre" [(ngModel)]="usuario.activo" placeholder="Nombre">
      <label for="usuario-nombre">Activo: </label>
  </div>
</div>
