<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Moodle.com</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="perfil-alumno.component.css">

</head>
<body>
    <div id="container">

        <header class="cabecera">
            <!-- MENU DESPLEGABLE -->
            <nav>
                <ul class="menu-horizontal">
                    <li class="cajaMenu">
                        <a href="#"><img class="menudes" src="../../../assets/imagenesCSS/menu.png"></a>
                        <ul class="menu-vertical">
                            <!--          <li><a href="#">Notas</a></li>
                            <li><a href="#">Cursos</a></li>
                            <li><a href="#">To Do</a></li> -->
                            <li><a href="#">Opciones</a></li>
                            <li><a href="login.html">Loggin</a></li>
                            <li><a href="noti.html">Notificaciones</a></li>
                            <li><a href="back_notas.html">Back Notas</a></li>
                        </ul>
                    </li>

                </ul>

                <!-- <div class="foto"><img width: 50px; height: 50px; src="char.png">-->

            </nav>
            <div class="tituloname">AmberGG</div>

            <div class="perfil"><a class="a" href="perfil.html"><img class="home"><img class="iconprofile"
                src="../../../assets/imagenesCSS/main.png"> </a></div>



        </header>


        <div class="imagenfondo">
            <!-- SECCIÓN ASIGNATURAS Y NOTA -->
            <div class="espaciosec">


                <section class=secNotas>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class=asignaturas>
                                    <th></th>
                                    <th>JAVA</th>
                                    <th>MYSQL</th>
                                    <th>JS</th>
                                    <th>CSS</th>
                                    <th>HTML5</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="datos"> </td>
                                    <td class="datos">0</td>
                                    <td class="datos">10</td>
                                    <td class="datos"> 9</td>
                                    <td class="datos">8</td>
                                    <td class="datos">7</td>

                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <section class="secInfo">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class=asignaturas>
                                    <th></th>
                                    <th>Porcentaje del curso</th>
                                    <th>Nota media</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="datos"></td>
                                    <td class="datos">73%</td>
                                    <td class="datos">6.8</td>


                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
            
        </div>
    </div>

</body>

<footer>
    <div class="cajaHome">
        <button onclick="window.location.href='principal.html'" type="button"
            class="btn btn-primary btn-lg active homebuttom"><img class="home" src="../../../assets/imagenesCSS/footer/home.png"></button>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/lupa.png"></button>
        </div>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/alert-26.png"></button>
        </div>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/sms.png"></button>
        </div>
    </div>
</footer>