
<h1>{{title}}</h1>

<header class="cabecera">
    <!-- MENU DESPLEGABLE -->
    <nav>
        <ul class="menu-horizontal">
            <li class="cajaMenu">
                <a href="#"><img class="menudes" src="../../../assets/imagenesCSS/menu.png"></a>
                <ul class="menu-vertical">
                    <!--          <li><a href="#">Notas</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">To Do</a></li> -->
                    <li><a href="#">Opciones</a></li>
                    <li><a href="login.html">Loggin</a></li>
                    <li><a href="noti.html">Notificaciones</a></li>
                    <li><a href="back_notas.html">Back Notas</a></li>
                </ul>
            </li>

        </ul>

        <!-- <div class="foto"><img width: 50px; height: 50px; src="char.png">-->

    </nav>
    <div class="tituloname">AmberGG</div>

    <div class="perfil"><a class="a" href="perfil"><img class="home"><img class="iconprofile"
        src="../../../assets/imagenesCSS/main.png"> </a></div>


</header>


<router-outlet> </router-outlet>


<footer>
    <div class="cajaHome">
        <button onclick="window.location.href='' "type="button"
            class="btn btn-primary btn-lg active homebuttom"><img class="home" src="../../../assets/imagenesCSS/footer/home.png"></button>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/lupa.png"></button>
        </div>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/alert-26.png"></button>
        </div>
    </div>
    <div>
        <div class="cajaHome">
            <button type="button" class="btn btn-primary btn-lg active homebuttom"><img class="home"
                src="../../../assets/imagenesCSS/footer/sms.png"></button>
        </div>
    </div>
</footer>








