
<div class="imagenfondo">
        <div class="espaciosec"> 


            <section class=secNotas>
                <div class="table-responsive" id="tablaNotas">
                    <table class="table table-hover">
                        <thead>
                            <tr class=asignaturas>
                                <th></th>
                                <th>JAVA</th>
                                <th>MYSQL</th>
                                <th>JS</th>
                                <th>CSS</th>
                                <th>HTML5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="datos"> </td>
                                <td class="datos">7</td>
                                <td class="datos">10</td>
                                <td class="datos"> 9</td>
                                <td class="datos">8</td>
                                <td class="datos">7</td>

                            </tr>
                            <tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="secInfo">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class=asignaturas>
                                <th></th>
                                <th>Porcentaje del curso</th>
                                <th>Nota media</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="datos"></td>
                                <td class="datos">73%</td>
                                <td class="datos">6.8</td>


                            </tr>
                            <tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

